@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#server-list {
    td.join {
        width: 3%;
        text-align: center;
    }
    td.name {
        width: 25%;
        form {
            float: right;
        }
    }
    td.ip {
        width: 12%;
    }
    td.map {
        width: 12%;
    }
    td.players {
        width: 20%;
    }
    td.weather {
        width: 5%;
    }
    td.options {
        width: 15%;
    }
    div.progress {
        margin-bottom: 0;
    }
    td.weather img, td.options img {
        float: left;
    }
}
