@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.checkbox {
    label + label {
        margin-left: 2em;
    }
}

#server-list {
    td.join {
        min-width: 125px;
    }
    td.name {
        min-width: 150px;
        form {
            float: right;
        }
    }
    td.ip {
        min-width: 100px;
    }
    td.map {
        min-width: 100px;
    }
    td.players {
        min-width: 150px;
    }
    td.weather {
        min-width: 70px;
    }
    td.options {
        min-width: 150px;
    }
    td.clock {
        min-width: 30px;
    }
    div.progress {
        margin-bottom: 0;
    }
    td.weather img, td.options img {
        float: left;
    }
}

#firechat-wrapper {
    height: 475px;
    max-width: 325px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 50px auto;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 25px #666;
    -moz-box-shadow: 0 5px 25px #666;
    box-shadow: 0 5px 25px #666;
}
